.jumbotron.jumbo-parallax.portfolio-parallax.vertical-center.horizontal-center
  .container.background-opacity-medium
    .jumbo-text
      %h1
        Portfolio Performance
.container
  .row
    .small.margin-bottom_sm
      *All amounts expressed in <strong>USD</strong>
    .row.chart-header
      .col-xs-2.col-sm-2.col-md-1.col-lg-1
        Ticker
      .hidden-xs.hidden-sm.col-md-2.col-lg-2
        Company Name
      .col-xs-2.col-sm-2.col-md-1.col-lg-1
        Price
      .hidden-xs.hidden-sm.col-md-1.col-lg-1
        Quantity
      .col-xs-2.col-sm-2.col-md-2.col-lg-2
        Market Value
      .col-xs-2.col-sm-2.col-md-1.col-lg-1
        Cost
      .col-xs-2.col-sm-2.col-md-2.col-lg-2
        \% Gain|Loss
      .col-xs-2.col-sm-2.col-md-2.col-lg-2
        Total Gain|Loss
    - @decorated_positions.each do |position|
      .row
        .col-xs-2.col-sm-2.col-md-1.col-lg-1= position.stock.ticker
        .hidden-xs.hidden-sm.col-md-2.col-lg-2.truncate= position.stock.company_name
        .col-xs-2.col-sm-2.col-md-1.col-lg-1= position.latest_stock_price
        .hidden-xs.hidden-sm.col-md-1.col-lg-1= position.shares_held
        .col-xs-2.col-sm-2.col-md-2.col-lg-2= position.market_value
        .col-xs-2.col-sm-2.col-md-1.col-lg-1= position.cost_value
        .col-xs-2.col-sm-2.col-md-2.col-lg-2{class: [(position.positive_gain? ? 'green' : 'red')] }= position.percentage_gain_or_loss.to_s + " %"
        .col-xs-2.col-sm-2.col-md-2.col-lg-2{class: [(position.positive_gain? ? 'green' : 'red')] }= position.total_gain_or_loss

